/* TEXT */

.section-container {
  background: rgba(255,255,255,.8);
  margin-bottom: 20px;
  padding: 15px;
}
.section-title {
  min-width: 100%;
  margin: -15px -15px 25px;
  background: rgba(240,240,240,.5);
  height: 50px;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 1px;
}

h1 {
  color: hsla(202,67%,50%,1);
  text-transform: uppercase;
  font-weight: 300;
  font-size: 22px;
  margin: 0 auto 20px;
  text-align: center;
  text-shadow: 1px 1px 1px #aaa;
}
h2 {
  font-size: 16px;
  color: hsla(202,67%,50%,1);
  text-transform: uppercase;
  font-weight: 300;
  margin: 25px auto 15px;
}
#renouveler-mdp {
  text-align: left;
}
#renouveler-mdp > p > span {
  width: 40%;
  text-align: right;
  display: inline-block;
  padding-right: 20px;
}
#renouveler-mdp input {
  width: 140px;
  text-align: left;
}
#infos-complementaires > p {
  width: 28%;
  text-align: right;
  display: inline-block;
  padding-right: 20px;
}
#infos-complementaires > input {
  width: 65%;
  text-align: left;
}

.fieldset-align-middle > p > span {
  width: 33%;
  text-align: right;
  display: inline-block;
  padding-right: 20px;
}
.fieldset-align-middle > p > input, 
.fieldset-align-middle > p > select {
  width: 50%;
  text-align: left;
}
.fieldset-align-middle > p > span:nth-child(2) {
  width: 53%;
  text-align: left;
  padding-left: 14px;
}


/* BUTTONS / INPUT / SELECT */

.form-control-small {
  display: inline-block;
  width: auto;
  font-size: 13px;
  height: 29px;
  margin-bottom: 12px;
  margin-right: 15px;
}
.form-control-inner-small {
  font-size: 13px;
  height: 29px;
}
.form-control-centered {
  margin-right: 8px;
  margin-left: 8px;
}
.btn-small {
  margin-bottom: 0;
  font-size: 14px;
  padding: 4px 12px;
  margin-right: 15px;
}
input.checkbox {
  margin-bottom: 12px;
  margin-right: 15px;
  display: inline-block;
}
.form-placeholder {
  color: #555555;
}
.form-control.form-control-auto {
  width: auto;
}
.label-empty {
  text-align: right;
  font-weight: bold;
  padding-right: 13px;
}

/* NAVBAR WITH TABS (TRANSACTION...) */

.nav-tabs-outer {
  padding: 0;
  margin-bottom: 20px;
}
.nav-tabs-outer .nav.nav-tabs li {
  background-color: rgba(0,0,0,.4);
}
.nav-tabs-outer .nav.nav-tabs li a {
  border: none;
  color: #fff;
  text-transform: uppercase;
}
.nav-tabs-outer .nav.nav-tabs li.active {
  background: transparent;
}
.nav-tabs-outer .nav.nav-tabs .active a,
.nav-tabs-outer .nav.nav-tabs a:hover {
  background: rgba(240,240,240,.9);
  border: none;
  color: hsla(202,67%,50%,1);
}




/* PARAM */

.section-param {
  text-align: center;
}
.section-param .param-message {
  color: green;
  margin-bottom: 24px;
}
.param-error-message {
  color: red;
}
.section-param p {
  font-size: 12px;
  margin-bottom: 3px;
}
#mes-parametres .form-control {
  margin-bottom: 4px;
}
.btn-param {
  margin: 20px 0;
}
.param-basic-left {
  display: inline-block;
  width: 45%;
  text-align: right;
  padding-right: 30px;
}
.param-picture {
  width: 120px;
  height: 120px;
  background-position: center center;
  background-size: cover;
  border-radius: 50%;
  float: right;
}
.param-basic-right {
  display: inline-block;
  width: 54%;
  text-align: left;
  padding-top: 6px;
  vertical-align: top;
  height: 130px;
}
.param-basic-title {
  min-width: 80px;
  display: inline-block;
}
.btn-file {
  position: relative;
  overflow: hidden;
  font-size: 13px;
  padding: 4px 12px;
  margin-top: 10px;
  margin-left: -6px;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}
p.new-picture-label {
  /*font-size: 12px;*/
  margin-top: 6px;
}

/* TEMPS */

.form-inner {
  text-align: center;
}
.form-divider {
  border-top: 1px solid #eee;
  padding-top: 10px;
  margin: 0 30px;
}
@media (max-width: 768px) {
  .form-divider {
    margin: 0;
  }
}
.temps-filter, .frais-filter {
  margin-bottom: 20px;
}
.temps-filter .form-control,
.frais-filter .form-control {
  width: 130px;
  display: inline-block;
  margin-right: 15px;
}
.frais-filter form {
  display: inline-block;
}
.temps-filter i {
  font-size: 29px;
  padding-top: 0;
  position: absolute;
  margin-top: 2px;
  margin-left: 6px;
}

/* FRAIS */

.form-right {
  float: right;
}

/* DEVIS */
.form-operator {
  margin-right: 5px;
  margin-left: -5px;
}


/* HISTORIQUE TEMPS, FRAIS... */

.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
  vertical-align: middle;
}
.table>thead {
  font-weight: bold;
}

.table-align-top>thead>tr>th,
.table-align-top>tbody>tr>th,
.table-align-top>tfoot>tr>th,
.table-align-top>thead>tr>td,
.table-align-top>tbody>tr>td,
.table-align-top>tfoot>tr>td {
  vertical-align: top;
}

.duplicate-edit-remove button, .btn-icon {
  border: none;
  background: none;
  margin: 0;
  padding: 0;
  opacity: .8;
}
.duplicate-edit-remove button:hover, .btn-icon:hover {
  background: transparent;
  opacity: 1;
}
.duplicate-edit-remove button:nth-of-type(2) {
  margin: 0 7px;
}
.duplicate-edit-remove i.fa, .btn-icon i.fa {
  font-size: 18px;
}
.duplicate-edit-remove i.fa.fa-trash-o, .btn-red i.fa {
  color: #d9534f;
}
.duplicate-edit-remove i.fa.fa-files-o, .btn-green i.fa {
  color: #4cae4c;
}
.duplicate-edit-remove i.fa.fa-pencil-square-o, .btn-blue i.fa {
  color: #337ab7;
}
.duplicate-edit-remove i.fa.fa-unlock, .btn-orange i.fa {
  color: #f0ad4e;
}
.form-error-message {
  color: red;
  text-align: center;
  margin: 7px auto;
}
tr.tr-highlight {
  color: #d9534f;
}
.fa.fa-circle.fa-circle-validate {
  color: #4cae4c;
  font-size: 11px;
}
.fa.fa-circle.fa-circle-no-validate {
  color: #f0ad4e;
  font-size: 11px;
}

/* TOGGLE UP/DOWN SECTION */

.section-title i {
  margin: 0 12px;
  font-size: 18px;
}
#toggle-title, #toggle-title2, #toggle-title3 {
  cursor: pointer;
  margin-bottom: 0;
}
#toggle-title:hover, #toggle-title2:hover, #toggle-title3:hover {
  background: #fff;
}
.section-toggle {
  padding-bottom: 0;
}
#toggle-content, #toggle-content2, #toggle-content3 {
  margin-top: 20px;
  margin-bottom: 20px;
}


/* EFFECTIFS */

.row-trombi > div {
  text-align: center;
}
.col-effectif {
  /*position: relative;*/
  min-height: 1px;
  padding-left: 12px;
  padding-right: 12px;
  /*float: left;*/
  display: inline-block;
  vertical-align: top;
  width: 140px;
  height: 170px;
}
.col-effectif-picture {
  width: 110px;
  height: 110px;
  /*margin-top: 10px;*/
  position: relative;
  background-position: center center;
  background-size: cover;
  border-radius: 50%;
}
.row-trombi {
  text-align: center;
}
.row-trombi p {
  margin: 6px 0 0;
  height: 40px;
  overflow: hidden;
}
.effectif-buttons .row > div:nth-child(1) {
  text-align: right;
}
.effectif-buttons .row > div:nth-child(2) {
  text-align: left;
}
.effectif-buttons button {
  margin-bottom: 20px;
  font-size: 13px;
  padding: 5px 15px;
  text-transform: uppercase;
}
.effectif-buttons i {
  font-size: 20px;
  position: relative;
  top: 2px;
  margin: 0 7px 0 0;
}



/* CLIENTS */

.form-group-new-project {
  height: 25px;
}