html {
  position: relative;
  min-height: 100%;
}
body {
  padding-top: 150px;
  margin-bottom: 70px;
  background-color: #ccc;
}

.background-image {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  opacity: .8;
  z-index: -2;
  background-size: cover;
}
/* LOGIN & HOME */
.background-login {
  background: url('../assets/images/background-stadium-full.jpg') no-repeat center center fixed;
  background-size: cover;
}
.background-accueil {
  background: url('../assets/images/background-parachute.jpg') no-repeat center center fixed;
  background-size: cover;
}
.background-temps, .background-journal {
  background: url('../assets/images/background-running.jpg') no-repeat center center fixed;
  background-size: cover;
}
.background-frais {
  background: url('../assets/images/background-stadium.jpg') no-repeat center center fixed;
  background-size: cover;
}
.background-equipe {
  background: url('../assets/images/background-bike.jpg') no-repeat center center fixed;
  background-size: cover;
}
.background-transactions {
  background: url('../assets/images/background-desert.jpg') no-repeat center center fixed;
  background-size: cover;
}
/* ADMINISTRATION */
.background-administration {
  background: url('../assets/images/background-road-light.jpg') no-repeat center center fixed;
  background-size: cover;
}
/* DB MANAGEMENT */
.background-db-management {
  background: url('../assets/images/background-road.jpg') no-repeat center center fixed;
  background-size: cover;
}
.background-clients {
  background: url('../assets/images/background-lighthouse.jpg') no-repeat center center fixed;
  background-size: cover;
}
.background-competitions {
  background: url('../assets/images/background-bike2.jpg') no-repeat center center fixed;
  background-size: cover;
}
.background-donnees-fi {
  background: url('../assets/images/background-lake.jpg') no-repeat center center fixed;
  background-size: cover;
}
.background-tables {
  background: url('../assets/images/background-lake.jpg') no-repeat center center fixed;
  background-size: cover;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../assets/images/overlay.png');
  z-index: -1;
}


/***********************************************************/
/* TEMPORARY FIX FOR PAGES OUTSIDE OF SCOPE FOR NEW DESIGN */

#sstitre, #haut {
  font-size: 16px;
  font-weight: 500;
  margin: 20px 0 10px;
}
.table.table-striped.temp-table td, .table.table-striped.temp-table th {
  /*background-color: #fff !important;*/
}
